.hoverclass:hover{
	/*background-color: #0074d9;*/
	/*border: solid;
	border-width: 4px;
	border-color: #FFF240;*/
    outline: 4px solid yellow;
    outline-offset: 8px;
}

.selectclass{
	/*background-color: #0074d9;*/
	/*border: solid;
	border-width: 4px;
	border-color: #FF2222;*/
    outline: 4px solid red;
    outline-offset: 8px;
}